.error-mess{
    color: red;
}

.row{
    border: solid 1px green;
    padding: 10px;
    min-height: 100px;
    margin: 5px auto;
    display: flex;
    gap: 10px;
    width: auto;
    overflow-x: scroll;
}

.column{
    border: solid 1px blue;
    padding: 10px;
    flex-grow: 1;
    display: flex;
    justify-content: center;
}

.img{
    width: 200px;
}