.container{
    width: 50%;
    margin: auto;
    text-align: center;
}

input{
    font-size: 2em;
    padding: 10px;
}

.result{
    padding: 10px;
    min-height: 3em;
    background-color: aqua;
    margin: 10px;
    font-size: 2em;
}

.abc{
    background-color: aquamarine;
    padding: 10px;
    font-size: 3em;
    font-weight: bold;
    min-height: 3em;
    letter-spacing: 20px;
}