.controls, .results{
    width: 50%;
    border: solid 3px;
    padding: 10px;
    margin: auto;
    margin-bottom: 20px;
}

.results{
    width: 70%;
}

.info{
    padding: 20px;
    border:solid 1px silver;
    margin: 10px;
}

.info-font{
    font-size: 2em;
    font-weight: bold;
    color: red;
}

