.container{
    width: 750px;
    border: solid 1px silver;
    padding: 20px;
    margin: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.controls{
    background-color: antiquewhite;
    padding: 6px;
    border: solid 1px black;
    margin-bottom: 10px;
}

#square{
    width: 700px;
    height: 500px;
    background-color: aquamarine;
    position: relative;
}

.ball{
    height: 80px;
    width: 80px;
    border-radius: 50%;
    position: absolute;
    cursor: crosshair;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 2em;
}