main{
    width: 50%;
    margin: auto;
}

.content{
    background-color: aqua;
    width: 50%;
    min-height: 50px;
    margin: 20px;
}

#user-css{
    padding: 5px;
    font-size: 1.3em;
    background-color: beige;
}

button {
    background-color: springgreen;
    font-size: 20px;
    padding: 5px;
}